@font-face {
    font-family: Nunito-Regular;
    src: url(./Assets//Fonts/Nunito-Regular.ttf);
}

body {
    font-family: Nunito-Regular, sans-serif;
}

table.inbox {
    table-layout: fixed
}

table.inbox td.sender {
    width: 130px
}

table.inbox td.content {
    width: 100%
}

table.inbox td.date {
    width: 90px
}

table.inbox td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}